*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body  {
    background-color: rgba(0, 0, 0, 0.441);
    padding: 125px;
}

.img-container {
    overflow: hidden;
    max-width: 500px;
    margin: 0 auto;
    height: 600px;
    width: 700px;
    border: 2px solid #ccc ;
}

.img-container__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container__img:hover {
    cursor: crosshair;
    scale: 2;
}